@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply bg-white;
  @apply font-normal;

}
.custom-select {
  appearance: none;
  -webkit-appearance: none;
  /* for Safari */
  -moz-appearance: none;
  /* for Firefox */
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  /* place arrow */
  background-size: 1rem;
  /* arrow size */
  outline: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' stroke='black' stroke-width='2' viewBox='0 0 24 24'%3E%3Cpath d='M6 9l6 6 6-6'/%3E%3C/svg%3E")
}
/* Highlight the center slide */
.slick-center .card-inner {
  background-color: #7EDFA0 !important;
  color: black;
  z-index: 2;
}

.slick-center .card-inner span {
  background-color: #fff !important;
}